<% include ../header %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.firstName %></p>
<a href="/Gestion-Proyecto" class="w3-bar-item w3-btn w3-right">Gestion de Gestion-Proyecto</a>
<% include ../footer %>