<% include ../header %>       
    </div>
    <div class="w3-display-container w3-sidebar" style="width: 100%; background-color: rgb(0,0,0,0)">
        <div class="w3-container w3-white w3-display-middle w3-text-dark-gray w3-round-large w3-card-4" style="padding-bottom: 16px; padding-top: 16px">
            <div class="w3-cell-row">
                <div class="w3-cell w3-mobile">
                    <div class="w3-container">
                        <h4>Supervisor</h4>
                    </div>
                    <div class="w3-container w3-center">
                        <img src="" style="max-width: 150px">
                    </div>
                </div>
                <div class="w3-cell w3-mobile">
                    <div class="w3-container">
                        <h4>Menu</h4>
                        <hr>
                    </div>
    
                    <!--<button class="w3-btn w3-deep-purple w3-round" style="width: 100%; margin-top: 5px" role="link" onclick="window.location='/menu_supervisor(1)'">Gestion de Operadores/Supervisores</button>-->
                    <a href="/createproyect" class="w3-bar-item w3-btn w3-right">Crear proyecto</a>
                </div>
            </div>
        </div>
    </div>
    
<% include ../footer %>